aiohttp
beautifulsoup4
bitwarden-sdk
chromadb
einops
fastapi
filelock
faster-whisper
matrix-nio
ollama
openai
paramiko
pydantic
pymupdf
python-multipart
requests
rich
sentence-transformers
uvicorn[standard]
